
body {
  width: 800px;
  margin: 0 auto;
} 


/* Block Styling */
.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: url("images/phone_globe.jpg") no-repeat 50% center;
  color: black;
}

/* Styling the products display */
.item img {
  width: 200px;
  height:200px;
}

/*the following is for the header and footer table per lab5 part 7*/
.large-text {
font-size: 36px; /* You can adjust the font size as needed */
font-weight: bold;
}

.italic-text {
font-size: 36px; /* You can adjust the font size as needed */
font-style: italic;
}

/* Div children of body */
body > div {
  border: 5px solid black;
  display: flex;
}
.rotate img
{
animation: rotation .3s infinite linear;
}

@keyframes rotation {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(359deg);
}
}

.table-header {
font-size: 36px; /* Adjust the font size as needed */
text-align: center;
}

/* Style for the entire table */
table {
margin: 0 auto; /* Center the table horizontally */
border-collapse: collapse; /* Remove spacing between table cells */
}

/* Style for table cells (optional, adjust as needed) */
td {
padding: 8px; /* Add padding to the cells for spacing */
text-align: center; /* Adjust the cell text alignment if needed */
}

/* Style for quantity label and input */
.item label, .item input {
display: block;
margin: 10px auto;
text-align: center;
}

.purchase-btn {
display: block;
width: 200px;
height: 50px;
margin: 20px auto;
background-color: #ff00bf;
color: #FFFFFF;
border: none;
border-radius: 8px;
font-size: 20px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.purchase-btn:hover {
background-color: #0056b3;
}